$font-primary: 'BRSonoma-Regular', sans-serif;
$font-secondary: 'BRSonoma-SemiBold', sans-serif;
$font-bold: 'BRSonoma-Bold', sans-serif;

$primary-color: #00f4e2;
$secondary-color: #ff1c44;
$background-color: #03050f;
$text-color: #141938;
$error-color: #ff1c44;
$hover-bg-color: #f0f0f0;

$padding-default: 1.5rem 8rem;